:root {
  --colour-brand-normal: #819b57;
  --colour-brand-dark: #465929;
  --colour-primary-white: #faf4ea;
  --colour-primary-dark: #31261a;
  --colour-brand-light: #cfcfbc;
  --colour-secondary-dark: #a18268;
}
